<div class="container">
<article class="article">
  <h2>Sample Article Title</h2>
  <p>Published on: July 31, 2023</p>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac ipsum in nunc venenatis laoreet. Nullam laoreet erat a tortor feugiat, at bibendum mi tristique.
  </p>

  <p>
    Fusce in malesuada magna. Integer pharetra enim at leo fringilla bibendum. Aenean venenatis ipsum quam, eu blandit quam hendrerit in.
  </p>

  <p>
    Aliquam vehicula aliquam fermentum. Quisque et facilisis turpis. Praesent ac nibh luctus, tempor massa at, laoreet lectus.
  </p>
</article>
</div>
